<main>
<p id="notice"></p>
  <div class="contaner">
    <div class="row">
      <hi class="px-3 mx-auto">
        Welcome to
          <i class="fas fa-book" aria-hiddne="true"></i>
      <strong>Bookers</strong>
        !
      </hi>
    </div>
  </div>
</main>